.navme{
    	background: #098987;
        overflow: hidden;
    }
    .navme a{
    	float: right;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        padding: 20px 15px;
        
    }
    .navme a:hover {
    	background: #097087;
        color: black;
        
        }
     .navme .active{
     	background: #008700;
        float: left;
     }
     /*full screen navigation menu*/
     .sideNav{
     	position:fixed;
        height: 100%;
        width: 0;
        background-color: rgb(7,0,0);
        background-color: rgba(0,0,0,0.9);
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x:hidden;
        transition: 0.5s;
        
     }
     .sideNavC{
     	width:100%;
        top:25%;
        margin-top:20px;
        text-align: center;
        position:relative;
        
     }
     .sideNavC a{
     	padding: 10px;
        color: #037898;
        text-decoration: none;
        transition: 0.5s;
        font-size: 40px;
        display: block;
     }
     .cls{
     	position: absolute;
     	float: right;
        top: 40px;
        right: 40px;
     }
     @media screen and ( max-height: 450px ) {
     	.sideNavC a{
        	font-size: 18px;
            color: #890099;
        }
        .cls{
        	background: blue;
            color: white;
            border-radius: 3px;
            
            
        }
     }
     
     //#nav{width:100%;}
